[Unit]
Description=Proxy Auto Config Service
After=shadowsocks.target
Wants=default.target

[Service]
Type=exec
ExecStart=/home/songww/.cargo/bin/proxy-autoconfig serve --build

[Install]
WantedBy=default.target
